@font-face {
  font-family: 'HarmonyOS Bold';
  src: url('./HARMONYOS_SANS_SC_BOLD.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOS;
  src: url('./HARMONYOS_SANS_SC_REGULAR.woff2');
  font-weight: normal;
  font-style: normal;
}
